[submodule "lib/l8w8jwt"]
	path = lib/l8w8jwt
	url = https://github.com/GlitchedPolygons/l8w8jwt.git
[submodule "lib/json-c"]
	path = lib/json-c
	url = https://github.com/json-c/json-c
[submodule "lib/rabbitmq-c"]
	path = lib/rabbitmq-c
	url = https://github.com/alanxz/rabbitmq-c.git
